/*the css for the navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #dac292;
}

/*h3 class a used in navbar*/
h3.a {
  float: right;
}

/*drop down button used in lessonSelecti */
#dropdown-basic-button {
  background-color: #dac292;
  color: black;
  border: none;
  width: 15%;
  margin: 10px;
  display: inline;
}

/*used in persononline */
.container-style {
  margin: 15px;
  border-style: solid;
  transition: 0.2s;
  border-color: #7a653b;
  background-color: #dac292;
  padding: 0 !important;
  border-radius: 25px;
}

/*used in persononline */
.container-style .info {
  margin: 15px;
}

/*used in persononline */
.container-style img {
  margin: 2px;
  float: right;
  width: 50%;
  border-radius: 50%;
}

/*used in persononline */
.container-style:hover {
  transform: scale(1.05);
}

/*used in persononline */
ul {
  float: right;
}

/*used in persononline */
li {
  color: blue;
  text-decoration: underline;
  list-style-type: none;
}

/*used in construction page */
.construction {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/*used in construction page */
h1.a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

/*used in homepage for displayig <Online /> for online users*/
.homepage-style-main {
  position: relative;
  float: right;
  right: 5%;
  max-width: 100vh;
  max-width: 100vh;
  min-width: 25vh;
  min-height: 80vh;

  border-radius: 25px;
}

/*used in online js to display all users online */
.online-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*used in homepage for scroll down*/
.content {
  max-height: 75vh;
  overflow: auto;
}

/*Navbar icons to left */
.navbarIcons {
  margin: 2px;
  float: right;
  display: inline;
}
